name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
      - run: |
          ssh -o StrictHostKeyChecking=no root@104.248.254.171 "
            cd /var/www/procheff &&
            git pull &&
            npm install &&
            npm run build &&
            pm2 restart procheff || pm2 start npm --name procheff -- start
          "

